<% provide(:title, "Edycja profilu") %>

<div class="col-md-6 col-md-offset-3">
<h2>Edycja konta</h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  </div>
	  
	  <div class="form-group">
		<%= f.label :login %><br />
		<%= f.text_field :login, autofocus: true, class: 'form-control' %>
	  </div>
	  
	  <div class="form-group">
		<b>Obecne hasło</b><br/>
		<%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
	  </div>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	  <div class="form-group">
		<b>Nowe hasło</b> <i>(Pozostaw to pole puste, jeżeli nie chcesz zmieniać hasła)</i><br />
		<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
		<% if @minimum_password_length %>
		  <br />
		  <em>Minimalna liczba znaków: <%=@minimum_password_length %></em>
		<% end %>
	  </div>

	  <div class="form-group">
		<b>Potwierdź nowe hasło</b><br />
		<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
	  </div>

	  <div class="actions">
		<%= f.submit "Edytuj", class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<h3>Usuwanie konta</h3>

	<p>Chcesz usunąć konto? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Czy jesteś pewien, że chcesz usunąć konto?" }, method: :delete, class: 'btn btn-default' %></p>

	<%= link_to "Wstecz", :back %>
</div>
