<div class="row">
     <%= label_tag "Pytanie" %>
     <br>
     <div class="input-group input-group-lg question">
        <span class="input-group-addon"><strong>1.</strong></span>
        <%= text_field_tag "questions[]", nil, placeholder: 'Pytanie', class: "form-control question" %>
     </div>
     <div class="answers">
        <div class="input-group answer">
            <span class="input-group-addon">1.</span>
            <%= text_field_tag "todo", nil, class: "form-control" %>
        </div>
        <div class="input-group answer">
            <span class="input-group-addon">2.</span>
            <%= text_field_tag "todo", nil, class: "form-control" %>
        </div>
        <%= render "answer" %>
     </div>
</div>