<div class="row">
     <%= label_tag "Pytanie" %>
     <br>
     <%= text_field_tag "questions[]", nil, placeholder: 'Pytanie', class: "form-control question" %>
     <div class="answers">
        <%= text_field_tag "todo", nil, class: "form-control answer" %>
        <%= text_field_tag "todo", nil,  class: "form-control answer" %>
        <%= render 'answer' %>
     </div>
</div>