<% provide(:title, "Ankiety") %>
<h1>Ankiety</h1>

<% if administrator_signed_in? %>
<h2>Twoje ankiety</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Czy jest publiczna?</th>
      <th>Czy jest dostępna dla wszystkich?</th>
      <th>Administrator</th>
      <th>Kategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% @surveys.where(:administrator_id => current_administrator.id).each do |survey| %>
		  <tr>
			<td><%= survey.name %></td>
			<td><%= survey.start_date %></td>
			<td><%= survey.end_date %></td>
			<td><%= (survey.is_public)?"prawda":"fałsz" %></td>
			<td><%= (survey.is_available_for_all)?"prawda":"fałsz" %></td>
			<td><%= survey.administrator_id %></td>
			<td><%= Category.find(survey.category_id).name %></td>
			<td><%= link_to 'Wypełnij', survey, action: :show %></td>
			<td><%= link_to 'Usuń', survey, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
		<%= link_to 'Utwórz nową ankietę', new_survey_path %>
<% end %>
<br>
<h2>Ostatnio dodane</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Czy jest publiczna?</th>
      <th>Czy jest dostępna dla wszystkich?</th>
      <th>Administrator</th>
      <th>Kategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% @surveys.last(5).reverse.each do |survey| %>
		  <tr>
			<td><%= survey.name %></td>
			<td><%= survey.start_date %></td>
			<td><%= survey.end_date %></td>
			<td><%= (survey.is_public)?"prawda":"fałsz" %></td>
			<td><%= (survey.is_available_for_all)?"prawda":"fałsz" %></td>
			<td><%= survey.administrator_id %></td>
			<td><%= Category.find(survey.category_id).name %></td>
			<td><%= link_to 'Wypełnij', survey, action: :show %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<br>
<h2>Wszystkie ankiety</h2>
<% categories = Category.all.order(:name) %>
<div class="panel panel-default">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
		<% categories.each do |c| %>
			<% if(c == categories.first()) %>
    		<li role="presentation" class="active"><a href="#<%= c.name %>" aria-controls="<%= c.name %>" role="tab" data-toggle="tab"><%= c.name %></a></li>
			<% else %>
    		<li role="presentation"><a href="#<%= c.name %>" aria-controls="<%= c.name %>" role="tab" data-toggle="tab"><%= c.name %></a></li>
			<% end %>
		<% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
		<% categories.each do |c| %>
				<% if(c == categories.first()) %>
					<div role="tabpanel" class="tab-pane fade in active" id="<%= c.name %>">
				<% else %>
					<div role="tabpanel" class="tab-pane fade" id="<%= c.name %>">
				<% end %>
					<% if @surveys.where(category_id: c.id).present? %>
						<table class="table">
							<thead>
								<tr>
									<th>Nazwa</th>
									<th>Data rozpoczęcia</th>
									<th>Data zakończenia</th>
									<th>Czy jest publiczna?</th>
									<th>Czy jest dostępna dla wszystkich?</th>
									<th>Administrator</th>
									<th>Kategoria</th>
									<th colspan="3"></th>
								</tr>
							</thead>

							<tbody>
								<% @surveys.where(category_id: c.id).each do |survey| %>
									<tr>
									<td><%= survey.name %></td>
									<td><%= survey.start_date %></td>
									<td><%= survey.end_date %></td>
									<td><%= (survey.is_public)?"prawda":"fałsz" %></td>
									<td><%= (survey.is_available_for_all)?"prawda":"fałsz" %></td>
									<td><%= survey.administrator_id %></td>
									<td><%= Category.find(survey.category_id).name %></td>
									<td><%= link_to 'Wypełnij', survey, action: :show %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<% else %>
							<h3>Brak ankiet</h3>
						<% end %>		
					</div>
		<% end %>
  </div>

</div>