<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
        <h1>Nowa ankieta</h1>
    </div>
    <div class="alert alert-danger hidden" role="alert">
        <button type="button" class="close">&times;</button>
        <strong>Błąd!</strong> W ankiecie znaleziono niewypełnione pola. Proszę je wypełnić i spróbować ponownie zapisać ankietę.
    </div>
    <%= form_for(@survey, format: :json, html: {class: :survey_form} ) do |f| %>

        <div id="survey">
            <div id="survey-name" class="input-group input-group-lg">
                <h2 class="text-center">Nazwa ankiety</h3>
                <%= f.text_field :name, class: "form-control", style: "font-size: 28px", placeholder: 'Nazwa ankiety' %>
            </div>
            <div class="row start-date">
                <h3>Data rozpoczęcia</h3>
                <%= f.text_field :start_date, class: "form-control", placeholder: 'Data rozpoczęcia' %>
            </div>
            <div class="row end-date">
                <h3>Data zakończenia</h3>
                <%= f.text_field :end_date, class: "form-control", placeholder: 'Data zakończenia' %>
            </div>
            <div class="row category-dropdown">
                <h3>Kategoria:</h3>
                <div class="form-group">
                    <%= f.collection_select(:category_id, Category.order('name'), :id, :name, {}, {:class=>"form-control category"}) %>
                </div>
            </div>
            <div class="row survey-checkboxes">
                <h3>Ankietowani mają być pytani o:</h3>                
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_age_required %> wiek
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_sex_required %> płeć
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_education_required %> wykształcenie
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_location_required %> zamieszkanie
                    </label>
                </div>
            </div>
            <div class="row survey-checkboxes">
                <h3>Wyniki będą dostępne dla:</h3>
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_public %> ankietowanych
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <%= f.check_box :is_available_for_all %> wszystkich
                    </label>
                </div>
            </div>
            <%= render 'question' %>
        </div>
        <div class="row">
            <div id="new-question">
                <a href="javascript:;" id="add_new_question" class="btn btn-default">Nowe Pytanie</a>
            </div>
            <div>
                <%= f.submit "Zapisz ankietę", class: "btn btn-primary btn-lg"%>
            </div>
        </div>
        <% end %>

            <div style="display: none;" id="new_question">
                <%= render 'question' %>
            </div>
            <div style="display: none;" id="new_answer">
                <%= render 'answer' %>
            </div>
</div>