<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
        <h1>Nowa ankieta</h1>
    </div>

    <%= form_for(@survey, remote: true, format: :json, html: {class: :survey_form} ) do |f| %>

        <div id="survey">
            <div id="survey-name" class="input-group input-group-lg">
                <%= f.text_field :name, class: "form-control", placeholder: 'Nazwa ankiety' %>
            </div>
            <div class="row start-date">
                <div class="header-text">Data rozpoczęcia</div>
                <%= f.text_field :start_date, class: "form-control", placeholder: 'Data rozpoczęcia' %>
            </div>
            <div class="row end-date">
                <div class="header-text">Data zakończenia</div>
                <%= f.text_field :end_date, class: "form-control", placeholder: 'Data zakończenia' %>
            </div>
            <div class="category-dropdown">
                <div class="header-text">
                    Kategoria:
                </div>
                <div class="form-group">
                    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {:class=>"form-control category"}) %>
                </div>
            </div>
            <div class="survey-checkboxes">
                <div class="header-text">
                    Ankietowani mają być pytani o:
                </div>
                <div class="checkbox">
                <%= f.check_box :is_age_required %> wiek
                </div>
                <div class="checkbox">
                <%= f.check_box :is_sex_required %> płeć
                </div>
                <div class="checkbox">
                <%= f.check_box :is_education_required %> wykształcenie
                </div>
                <div class="checkbox">
                <%= f.check_box :is_location_required %> zamieszkanie
                </div>
            </div>
            <div class="survey-checkboxes">
                <div class="header-text">
                    Wyniki będą dostępne dla:
                </div>
                <div class="checkbox">
                    <%= f.check_box :is_public %> ankietowanych
                </div>
                <div class="checkbox">
                    <%= f.check_box :is_available_for_all %> wszystkich
                </div>
            </div>
            <%= render 'question' %>
        </div>
        <div class="row">
            <a href="javascript:;" id="add_new_question">Nowe Pytanie</a>

            <div>
                <%= hidden_field_tag :administrator_id, current_administrator.id %>
                    <%= f.submit "Zapisz ankietę"%>
            </div>
        </div>
        <% end %>

            <div style="display: none;" id="new_question">
                <%= render 'question' %>
            </div>
            <div style="display: none;" id="new_answer">
                <%= render 'answer' %>
            </div>
</div>