<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>
<%= form_tag do %>
  <% if @survey.is_age_required %>
    <br><%= text_field("respondent", "age") %>
  <% end %>
  <% if @survey.is_sex_required %>
    <br><label><%= radio_button_tag("respondent[sex]", 'K') %>Kobieta</label>
    <br><label><%= radio_button_tag("respondent[sex]", 'M') %>Mężczyzna</label>
  <% end %>
  <% if @survey.is_education_required %>
    <br><%= select("respondent", "education", ["podstawowe","gimnazjalne","zawodowe","średnie","wyższe"]) %>
  <% end %>
  <% if @survey.is_location_required %>
    <br><%= select("respondent", "location", ["Rzeszów","Kraków","Warszawa","Wrocław","Gdynia"]) %>
  <% end %>

  <% @survey.questions.each do |q| %>
    <% question_number = 0 %>
    <p><strong> <%= q.content %></strong></p>
    <% q.answers.each do |a| %>
      <% if q.question_type == "JEDNOKROTNEGO_WYBORU" %>
      <label><%= radio_button_tag "question[#{q.id}]", a.id %><%= a.reply %></label><br>
      <% elsif q.question_type == "WIELOKROTNEGO_WYBORU"%>
      <label><%= check_box_tag "question[#{q.id}]", a.id %><%= a.reply %></label><br>
      <% end %>
    <% end %>
  <% end %>
  <%= submit_tag("Wyślij") %>
<% end %>
