<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<%= form_tag do %>
  <% @survey.questions.each do |q| %>
    <% question_number = 0 %>
    <p><strong> <%= q.content %></strong></p>
    <% q.answers.each do |a| %>
      <% if q.question_type == "JEDNOKROTNEGO_WYBORU" %>
      <label><%= radio_button_tag "question[#{q.id}]", a.id %><%= a.reply %></label><br>
      <% else %>
      <label><%= check_box_tag "question[#{q.id}]", a.id %><%= a.reply %></label><br>
      <% end %>
    <% end %>
  <% end %>
  <%= submit_tag("Wyślij") %>
<% end %>
