<% provide(:title, "Wyniki ankiety") %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-lg-offset-1">
<% counter = 0 %>
<% @survey.questions.each do |q|%>
    <h2><%="#{counter+=1}. #{q.content}" %></h2>
<div class="panel panel-default">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#default<%= counter %>" aria-controls="default<%= counter %>" role="tab" data-toggle="tab">Domyślny</a></li>
    <% if @survey.is_age_required %>
        <li role="presentation"><a href="#age<%= counter %>" aria-controls="age<%= counter %>" role="tab" data-toggle="tab">Wiek</a></li>
    <% end %>
    <% if @survey.is_sex_required %>
        <li role="presentation"><a href="#sex<%= counter %>" aria-controls="sex<%= counter %>" role="tab" data-toggle="tab">Płeć</a></li>
    <% end %>
    <% if @survey.is_education_required %>
        <li role="presentation"><a href="#education<%= counter %>" aria-controls="education<%= counter %>" role="tab" data-toggle="tab">Edukacja</a></li>
    <% end %>
    <% if @survey.is_location_required %>
        <li role="presentation"><a href="#location<%= counter %>" aria-controls="location<%= counter %>" role="tab" data-toggle="tab">Miejsce zamieszkania</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="default<%= counter %>">
        <div class="tab-container">
            <h3 class="text-center">Ogólny rezultat</h3>
            <% answers = Hash.new %>
            <% q.answers.each do |a| %>
                <% answers["#{a.reply}"] = AnswerRespondent.where(answer_id:a.id).count %>
            <% end %>
            <%= column_chart answers %>
        </div>
    </div>
    <% if @survey.is_age_required %>
        <div role="tabpanel" class="tab-pane fade" id="age<%= counter %>">
            <div class="tab-container">
                <h3 class="text-center">Wyniki pogrupowane względem wieku</h3>
                <ul class="legend">
                    <li class="legend-blue"><18 lat</li>
                    <li class="legend-red">19-30 lat</li>
                    <li class="legend-yellow">31-50 lat</li>
                    <li class="legend-green">51-80 lat</li>
                    <li class="legend-purple">>80 lat</li>
                </ul>
                <% answersAge1 = Hash.new %>
                <% answersAge2 = Hash.new %>
                <% answersAge3 = Hash.new %>
                <% answersAge4 = Hash.new %>
                <% answersAge5 = Hash.new %>
                <% q.answers.each do |a| %>
                    <% age1 = Respondent.joins(:answers).where('answers.id = ? AND age <= 18 ',a.id) %>
                    <% age2 = Respondent.joins(:answers).where('answers.id = ? AND age > 18 AND age <= 30',a.id) %>
                    <% age3 = Respondent.joins(:answers).where('answers.id = ? AND age > 30 AND age <= 50',a.id) %>
                    <% age4 = Respondent.joins(:answers).where('answers.id = ? AND age > 50 AND age <= 80',a.id) %>
                    <% age5 = Respondent.joins(:answers).where('answers.id = ? AND age > 80 ',a.id) %>
                    <% answersAge1["#{a.reply}"] = age1.count %>
                    <% answersAge2["#{a.reply}"] = age2.count %>
                    <% answersAge3["#{a.reply}"] = age3.count %>
                    <% answersAge4["#{a.reply}"] = age4.count %>
                    <% answersAge5["#{a.reply}"] = age5.count %>
                <% end %>
                <%= column_chart [
                    {name: "<18 lat", data: answersAge1 },
                    {name: "19-30 lat", data: answersAge2 },
                    {name: "31-50 lat", data: answersAge3 },
                    {name: "51-80 lat", data: answersAge4 },
                    {name: ">80 lat", data: answersAge5 },
                ], library: {legend:{position:'none'}} %>
            </div>
        </div>
    <% end %>
    <% if @survey.is_sex_required %>
        <div role="tabpanel" class="tab-pane fade" id="sex<%= counter %>">
            <div class="tab-container">
                <h3 class="text-center">Wyniki pogrupowane względem płci</h3>
                <ul class="legend">
                    <li class="legend-blue">Mężczyźni</li>
                    <li class="legend-red">Kobiety</li>
                </ul>
                <% answersM = Hash.new %>
                <% answersK = Hash.new %>
                <% q.answers.each do |a| %>
                    <% m = Respondent.joins(:answers).where('answers.id = ? AND sex = "M"',a.id) %>
                    <% k = Respondent.joins(:answers).where('answers.id = ? AND sex = "K"',a.id) %>
                    <% answersM["#{a.reply}"] = m.count %>
                    <% answersK["#{a.reply}"] = k.count %>
                <% end %>
                <%= column_chart [
                    {name: "Mężczyźni", data: answersM },
                    {name: "Kobiety", data: answersK }
                ], library: {legend:{position:'none'}} %>
            </div>
        </div>
    <% end %>
    <% if @survey.is_education_required %>
        <div role="tabpanel" class="tab-pane fade" id="education<%= counter %>">
            <div class="tab-container">
                <h3 class="text-center">Wyniki pogrupowane względem wykształcenia</h3>
                <ul class="legend">
                    <li class="legend-blue">podstawowe</li>
                    <li class="legend-red">gimnazjalne</li>
                    <li class="legend-yellow">zawodowe</li>
                    <li class="legend-green">średnie</li>
                    <li class="legend-purple">wyższe</li>
                </ul>
                <% answersWyk1 = Hash.new %>
                <% answersWyk2 = Hash.new %>
                <% answersWyk3 = Hash.new %>
                <% answersWyk4 = Hash.new %>
                <% answersWyk5 = Hash.new %>
                <% q.answers.each do |a| %>
                    <% wyk1 = Respondent.joins(:answers).where('answers.id = ? AND education = "podstawowe" ',a.id) %>
                    <% wyk2 = Respondent.joins(:answers).where('answers.id = ? AND education = "gimnazjalne" ',a.id) %>
                    <% wyk3 = Respondent.joins(:answers).where('answers.id = ? AND education = "zawodowe" ',a.id) %>
                    <% wyk4 = Respondent.joins(:answers).where('answers.id = ? AND education = "średnie" ',a.id) %>
                    <% wyk5 = Respondent.joins(:answers).where('answers.id = ? AND education = "wyższe" ',a.id) %>
                    <% answersWyk1["#{a.reply}"] = wyk1.count %>
                    <% answersWyk2["#{a.reply}"] = wyk2.count %>
                    <% answersWyk3["#{a.reply}"] = wyk3.count %>
                    <% answersWyk4["#{a.reply}"] = wyk4.count %>
                    <% answersWyk5["#{a.reply}"] = wyk5.count %>
                <% end %>
                <%= column_chart [
                    {name: "podstawowe", data: answersWyk1 },
                    {name: "gimnazjalne", data: answersWyk2 },
                    {name: "zawodowe", data: answersWyk3 },
                    {name: "średnie", data: answersWyk4 },
                    {name: "wyższe", data: answersWyk5 },
                ], library: {legend:{position:'none'}} %>
            </div>
        </div>
    <% end %>
    <% if @survey.is_location_required %>
        <div role="tabpanel" class="tab-pane fade" id="location<%= counter %>">
            <div class="tab-container">
                <h3 class="text-center">Wyniki pogrupowane względem miejsca zamieszkania</h3>
                <ul class="legend">
                    <li class="legend-blue">do 5 tyś. mieszkańców</li>
                    <li class="legend-red">5-20 tyś. mieszkańców</li>
                    <li class="legend-yellow">20-100 tyś. mieszkańców</li>
                    <li class="legend-green">100-200 tyś. mieszkańców</li>
                    <li class="legend-purple">200-500 tyś. mieszkańców</li>
                    <li class="legend-cyan">powyżej 500 tyś. mieszkańców</li>
                </ul>
                <% answersZam1 = Hash.new %>
                <% answersZam2 = Hash.new %>
                <% answersZam3 = Hash.new %>
                <% answersZam4 = Hash.new %>
                <% answersZam5 = Hash.new %>
                <% answersZam6 = Hash.new %>
                <% q.answers.each do |a| %>
                    <% zam1 = Respondent.joins(:answers).where('answers.id = ? AND location = "do 5 tyś. mieszkańców" ',a.id) %>
                    <% zam2 = Respondent.joins(:answers).where('answers.id = ? AND location = "5-20 tyś. mieszkańców" ',a.id) %>
                    <% zam3 = Respondent.joins(:answers).where('answers.id = ? AND location = "20-100 tyś. mieszkańców" ',a.id) %>
                    <% zam4 = Respondent.joins(:answers).where('answers.id = ? AND location = "100-200 tyś. mieszkańców" ',a.id) %>
                    <% zam5 = Respondent.joins(:answers).where('answers.id = ? AND location = "200-500 tyś. mieszkańców" ',a.id) %>
                    <% zam6 = Respondent.joins(:answers).where('answers.id = ? AND location = "powyżej 500 tyś. mieszkańców" ',a.id) %>
                    <% answersZam1["#{a.reply}"] = zam1.count %>
                    <% answersZam2["#{a.reply}"] = zam2.count %>
                    <% answersZam3["#{a.reply}"] = zam3.count %>
                    <% answersZam4["#{a.reply}"] = zam4.count %>
                    <% answersZam5["#{a.reply}"] = zam5.count %>
                    <% answersZam5["#{a.reply}"] = zam6.count %>
                <% end %>
                <%= column_chart [
                    {name: "do 5 tyś. mieszkańców", data: answersZam1 },
                    {name: "5-20 tyś. mieszkańców", data: answersZam2 },
                    {name: "20-100 tyś. mieszkańców", data: answersZam3 },
                    {name: "100-200 tyś. mieszkańców", data: answersZam4 },
                    {name: "200-500 tyś. mieszkańców", data: answersZam5 },
                    {name: "powyżej 500 tyś. mieszkańców", data: answersZam6 }
                ], library: {legend:{position:'none'}} %>
            </div>
        </div>
    <% end %>
  </div>
</div>
<% end %>
</div>

