<%= form_for(respondent) do |f| %>
  <% if respondent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respondent.errors.count, "error") %> prohibited this respondent from being saved:</h2>

      <ul>
      <% respondent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>

  <div class="field">
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :ip_address %>
    <%= f.text_field :ip_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
