<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'SurveySystem', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
		<li><%= link_to 'Pomoc', static_pages_help_url %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if administrator_signed_in? %>
              <li><%= current_administrator.login %></li>
              <li><%= link_to 'Profil', edit_administrator_registration_path %></li>
              <li><%= link_to 'Wyloguj', destroy_administrator_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Logowanie', new_administrator_session_path %></li>
          <li><%= link_to 'Rejestracja', new_administrator_registration_path %></li>
        <% end %>
    </div>
  </div>
</nav>